<div class="container">
    <h1>Become a Sailor !</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSignin(registerForm.value)">
      <div class="form-group">
        <fieldset formGroupName="profile" class="row">
          <div class="col-md-6 form_size" [class.has-success]="registerForm.controls.profile.controls.firstName.valid && !registerForm.controls.profile.controls.firstName.pristine" [class.has-danger]="!registerForm.controls.profile.controls.firstName.valid && !registerForm.controls.profile.controls.firstName.pristine">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label for="firstName">Firstname</label>
            <div [hidden]="registerForm.controls.profile.controls.firstName.valid || registerForm.controls.profile.controls.firstName.pristine" class="form-control-feedback">Firstname <strong>invalid</strong></div>
            <input class="form-control form-control-success form-control-danger" type="text" formControlName="firstName" placeholder="e.g: James">
          </div>
          <div class="col-md-6 form_size" [class.has-success]="registerForm.controls.profile.controls.lastName.valid && !registerForm.controls.profile.controls.lastName.pristine" [class.has-danger]="!registerForm.controls.profile.controls.lastName.valid && !registerForm.controls.profile.controls.lastName.pristine">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label for="lastName">LastName</label>
            <div [hidden]="registerForm.controls.profile.controls.lastName.valid || registerForm.controls.profile.controls.lastName.pristine" class="form-control-feedback">Lastname <strong>invalid</strong></div>
            <input class="form-control form-control-success form-control-danger" type="text" formControlName="lastName" placeholder="e.g: Cook">
          </div>
          <div class="col-md-6 form_size">
            <i class="fa fa-map" aria-hidden="true"></i>
            <label for="city">City</label>
            <input class="form-control" type="text" formControlName="city" placeholder="e.g: Paris">
          </div>
          <div class="col-md-6 form_size">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <label for="phone">Phone</label>
            <input class="form-control" type="text" formControlName="phone" placeholder="e.g: 0687908782">
          </div>
          <div class="col-md-6 form_size"  [class.has-success]="registerForm.controls.profile.controls.birthDay.valid && !registerForm.controls.profile.controls.birthDay.pristine" [class.has-danger]="!registerForm.controls.profile.controls.birthDay.valid && !registerForm.controls.profile.controls.birthDay.pristine">
            <i class="fa fa-birthday-cake" aria-hidden="true"></i>
            <label for="birthDay">Birthday</label>
            <input class="form-control form-control-success form-control-danger calendar-input" placeholder="yyyy-mm-dd" name="dp" formControlName="birthDay" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-addon calendar-button" (click)="d.toggle()">
              <i class="fa fa-calendar" aria-hidden="true" ></i>
            </div>
          </div>
          <div class="col-md-6 form_size">
            <i class="fa fa-users" aria-hidden="true"></i>
            <label for="gender">Gender</label>
            <select class="form-control custom-select" formControlName="gender">
              <option [selected]="!registerForm.controls.profile.controls.gender.valid">Choose gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="licorn">Licorn</option>
            </select>
          </div>
        </fieldset>
        <fieldset formGroupName="data" class="row">
          <div class="col-md-6 form_size" [class.has-success]="registerForm.controls.data.controls.email.valid && !registerForm.controls.data.controls.email.pristine" [class.has-danger]="!registerForm.controls.data.controls.email.valid && !registerForm.controls.data.controls.email.pristine">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <label for="email">Email</label>
            <div [hidden]="registerForm.controls.data.controls.email.valid || registerForm.controls.data.controls.email.pristine" class="form-control-feedback">Email <strong>invalid</strong></div>
            <input class="form-control form-control-success form-control-danger" type="email" formControlName="email" placeholder="e.g: sail@sailor.com">
          </div>
          <div class="col-md-6 form_size" [class.has-success]="registerForm.controls.data.controls.password.valid && !registerForm.controls.data.controls.password.pristine" [class.has-danger]="!registerForm.controls.data.controls.password.valid && !registerForm.controls.data.controls.password.pristine">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <label for="password">Password</label>
            <div [hidden]="registerForm.controls.data.controls.password.valid || registerForm.controls.data.controls.password.pristine" class="form-control-feedback">Password <strong>invalid</strong></div>
            <input class="form-control form-control-success form-control-danger" type="password" formControlName="password" placeholder="********">
          </div>
        </fieldset>
        <button type="submit" class="btn btn-success btn-lg" [disabled]="!registerForm.valid">Sign in</button>
      </div>
    </form>
    <a href="/auth/facebook" target="_self">
      <button type="" class="btn btn-primary btn-lg">Sign in with <i class="fa fa-facebook" aria-hidden="true"></i>acebook</button>
    </a>
</div>
