<div class="container">
    <h1>Login Form:</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="form-group">
        <fieldset formGroupName="data">
          <label for="email">email</label>
          <input class="form-control" type="email" formControlName="email">
          <div [hidden]="loginForm.controls.data.controls.email.valid || loginForm.controls.data.controls.email.pristine" class="alert alert-danger">Email invalide</div>
          <label for="password">password</label>
          <input class="form-control" type="password" formControlName="password">
          <div [hidden]="loginForm.controls.data.controls.password.valid || loginForm.controls.data.controls.password.pristine" class="alert alert-danger">Password invalide</div>
        </fieldset>
        <button type="submit" class="btn btn-success btn-lg" [disabled]="!loginForm.valid">sign in</button>
      </div>
    </form>
    <a href="/auth/facebook" target="_self">
      <button type="" class="btn btn-primary btn-lg">Sign in with facebook</button>
    </a>

  <!--  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="model.login" name="email" #email="ngModel" #getclass>
        TODO: remove this: {{getclass.className}}
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          login is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="model.pwd" name="password">
      </div>
      <button type="submit" class="btn btn-primary btn-lg" [disabled]="!loginForm.form.valid">Submit</button>
    </form> !-->
</div>
